.timeBox{
    width: 200px;
    height: 80px;
    background-color: rgba(51, 130, 233, 0.656);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(220, 251, 45);
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgb(71, 210, 235);
}