.display-title{
    width: 1000px;
    height: 120px;
    background-color: rgba(51, 130, 233, 0.656);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(59, 235, 218);
    border-radius: 40px;
    animation: titleAnimation 3s ease-in-out infinite;
    box-shadow: 0px 0px 50px rgb(71, 210, 235);
}
.TitleDesc{
    font-family: cursive;
    font-size: 80px;
    color: white;
    font-weight: 100;
    font-style: oblique;
}
@keyframes titleAnimation{
    0%{background-color: rgb(114, 197, 73, 0.656);}
    25%{background-color: rgb(35, 240, 168, 0.656);}
    50%{background-color: rgb(73, 206, 120, 0.656);}
    75%{background-color: rgb(41, 221, 188, 0.656);}
    100%{background-color: rgb(68, 170, 228, 0.656);}
}
@media (max-width: 768px) {
    .display-title {
        width: 500px;
        height: 100px;
        /* margin-left: 257px; */
    }
    .TitleDesc {
        font-size: 40px;
    }
}