.generate-button{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border: 2px solid rgb(220, 251, 45);
    background-color: rgba(229, 185, 138, 0.516);
    border-radius: 999px;
    box-shadow: 8px 8px 20px rgb(71, 210, 235);
    font-size: 20px;
    font-weight: bold;
}