.input-container{
    width: 900px;
    height: 60px;
    border: 2px solid rgb(220, 251, 45);
    border-radius: 999px;
    box-shadow: 8px 8px 20px rgb(71, 210, 235);
    background-color: rgba(229, 185, 138, 0.516);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 768px) {
    .input-container {
        width: 500px;
        height: 50px;
        font-size: 27px;
    }
}